.bordered-theme body,
.bordered-theme .content,
.bordered-theme .card {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    background-color: #f8f9fa;
}

.bordered-theme .top-header .navbar {
    border-bottom: 1px solid #dee2e6;
    box-shadow: none;
}

.bordered-theme .sidebar-wrapper {
    border-right: 1px solid #dee2e6;
    box-shadow: none;
}

.bordered-theme .card {
    box-shadow: none;
    border: 1px solid #dee2e6;
}
